<% provide(:title, "Home") %>


<div class="center jumbotron">
  <div class="col-sm-10 h2"><%= @answer[:sort] %>：<%= @answer[:title] %></div>

  <form class="form-horizontal" role="form">
    <div class="form-group" data-time="begin_time"
         data-answers="<%= @answer[:answer] %>"
         data-modal="<%= @modal %>"
         id="select_type"
         data-id="<%= @answer[:id] %>"
         data-ty="<%= @answer[:select_type] %>">
      <% @answer[:problem].each do |key, text| %>

          <div class=" col-sm-8">
            <!--<div class="<%#= @answer[:select_type] %>">-->
            <div class="checkbox">
              <div class="col-sm-4 col-sm-offset-2 text-right">
                <!--<input type="<%#= @answer[:select_type] %>" name="options<%#= @answer[:select_type] %>" value="<%#= key %>">-->
                <input type="checkbox" name="optionscheckbox" value="<%= key %>">
              </div>
              <div class="col-sm-6 text-left"><%= text %></div>
            </div>
          </div>
      <% end %>
    </div>

  </form>
  <button type="button" id="myButton" data-loading-text="提交..." class="btn btn-primary btn-lg disabled" autocomplete="off">确认</button>
</div>
<% content_for :modal do %>
    <div class="modal fade" id="myModal" style="background: black;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title h2" id="myModalLabel">等待开始答题</h2>
          </div>
          <div class="modal-body h3 ">
            等待开始答题......
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>
<% end %>
<% content_for :script do %>
    <script language="JavaScript">
        var $modal_dialog = $('.modal-dialog');
        var m_top = ( $(window).height() - $modal_dialog.height() ) / 3;
        $modal_dialog.css({'margin': m_top + 'px auto'});
        $modal = $('#myModal');
        if($("#select_type").data('modal')=='0'){
            $('.jumbotron').hide();
            $modal.modal({show: true, backdrop: 'static', keyboard: false});
        }


        function get_val(ty) {
            var id = [];
//            if (ty == 'checkbox') {
            $("input[type=checkbox]").each(function () {
                if (this.checked) {
                    id.push($(this).val());
                }
            });
//            } else {
//                id = [$('input:radio:checked').val()];
//            }
            return id;
        }
        $("input[type=radio]").change(function () {
            var id = get_val('radio')
            disable_button(id);
        });

        $("input[type=checkbox]").change(function () {
            var id = get_val('checkbox')
            disable_button(id);
        });

        function disable_button(id) {
            if (id.length > 0) {
                console.info(id);
                if ($('#myButton').hasClass('disabled')) {
                    $('#myButton').removeClass('disabled');//去除禁用
                }
            } else {
                if (!$('#myButton').hasClass('disabled')) {
                    $('#myButton').addClass('disabled');//禁用
                }
            }
        }
        $("#myButton").click(function () {
            if ($('#myButton').hasClass('disabled')) {
                alert('请选择答案再提交');
            } else {
                post_answer(false);
            }
            ;
        });
        setInterval(get_time, 2000);
        function get_time() {
            var id = $("#select_type").data('id');
            var type = $("#select_type").data('time');
            var data = {
                id: id,
                time_type: type
            };
            $.ajax({
                type: 'post',
                url: '<%= get_time_path %>',
                data: data,
                success: function (data) {
                    if (data.data == 200) {
                        if (type == 'begin_time') {
                            $modal.modal('hide');
                            $('.jumbotron').show();
                            $("#select_type").data('time', 'end_time');
                        } else {
                            $('.jumbotron').hide();

                            post_answer(true);
                        }
                    }else if(data.data==300){
                        post_answer(true);

                        location.reload();
                    }
                },
                error: function (e) {
                    console.log(e);
                    console.log('update_command_time_path error');
                }
            });
        }


        function post_answer(state) {
            var ty = $("#select_type").data('ty');
            var id = $("#select_type").data('id');
            var value_s = get_val(ty)
            disable_button(id);
            if (id && value_s.length > 0) {
                var answers = $("#select_type").data('answers');

                var data = {
                    id: id,
                    value_s: value_s,
                    answers: answers,
                    state: state
                };
                $.ajax({
                    type: 'post',
                    url: '<%= post_answer_path %>',
                    data: data,
                    success: function (data) {
                        location.reload();

//                        if (data.data == 200) {
//                            location.reload();
//                        } else {
//                            console.info(data.msg);
//                        }
                    },
                    error: function (e) {
                        console.log(e);
                        console.log('update_command_time_path error');
                    }
                });
            }
        }
    </script>
<% end %>


