<h1>登录</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label '登录名' %>
        <%= f.text_field :login_name, class: 'form-control' %>
        <%= f.label '登录密码' %>
        <%= f.text_field :password, class: 'form-control' %>

        <%= f.submit "登录", class: "btn btn-primary" %>
    <% end %>
    <!--<p>New user? <%#= link_to "Sign up now!", signup_path %></p>-->
</div>
</div>