<p id="notice"><%= notice %></p>

<h1>Score Control Centers</h1>

<table>
  <thead>
    <tr>
      <th>Begin time</th>
      <th>End time</th>
      <th>Fraction</th>
      <th>People number</th>
      <th>Round number</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @score_control_centers.each do |score_control_center| %>
      <tr>
        <td><%= score_control_center.begin_time %></td>
        <td><%= score_control_center.end_time %></td>
        <td><%= score_control_center.fraction %></td>
        <td><%= score_control_center.people_number %></td>
        <td><%= score_control_center.round_number %></td>
        <td><%= score_control_center.status %></td>
        <td><%= link_to 'Show', score_control_center %></td>
        <td><%= link_to 'Edit', edit_score_control_center_path(score_control_center) %></td>
        <td><%= link_to 'Destroy', score_control_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score Control Center', new_score_control_center_path %>
