<div class="center jumbotron table table-responsive">
  <%= form_tag(feedback_crawling_path,method:"get", class: 'form-inline') do %>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">抓取的名次</div>
          <input type="text" placeholder="请输入抓取名次" class="form-control" name='limit' value=<%= @limit %>>
        </div>
      </div>
      <button type="submit" class="btn btn-default">确认</button>
  <% end %>
  <br/>

  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr class="info">
      <th>名次</th>
      <th>用户编号</th>
      <th>平均用时</th>
    </tr>
    </thead>
    <tbody><% unless @answer_records.empty?   %>
    <% @answer_records.each_with_index do |answer_record, index| %>
        <tr>
          <td>第<%= index+1 %>名</td>
          <td><%= answer_record.try(:user).try(:name) %></td>
          <td><%= answer_record.time_costs %>秒</td>
        </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
</div>

