<div class="center jumbotron">
  <div class="row center 15">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group">
        <% @user.limit(15).pluck(:id).each do |id| %>
            <div type="button" class="btn btn-default" id="user_<%= id %>"></div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group ">
        <% @user.offset(15).limit(15).pluck(:id).each do |id| %>
            <div type="button" class="btn btn-default" id="user_<%= id %>"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row center 13">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group" >
        <% @user.offset(30).limit(13).pluck(:id).each do |id| %>
            <div type="button" class="btn btn-default" id="user_<%= id %>"></div>
        <% end %>

      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group">
        <% @user.offset(43).limit(13).pluck(:id).each do |id| %>
            <div type="button" class="btn btn-default" id="user_<%= id %>"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row center 12">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group " >
        <% @user.offset(56).limit(12).pluck(:id).each do |id| %>
            <div type="button" class="btn btn-default" id="user_<%= id %>"></div>
        <% end %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <div class="btn-group">
        <% @user.offset(68).limit(12).pluck(:id).each do |id| %>
            <div type="button" class="btn btn-default" id="user_<%= id %>"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="cOk" class="btn btn-lg">Cok</div>
<%= content_for :script do %>
    <script>
        get_answer_record();
//        var iCount = setInterval(get_answer_record, 2000);
//        iCount();
        //id为cOk绑定点击事件
//        $("#cOk").click(function (e) {
//            clearInterval(iCount);
//        });
        setInterval(get_answer_record, 2000);


//        setInterval(get_answer_record, 2000);
        function get_answer_record() {
            $.ajax({
                type: 'post',
                url: '<%= get_answer_records_path %>',
//                data: {answer_id:<%= params[:answer_id] %>},
                async: false,
                success: function (data) {
                    console.info(data);
                    if(data.state){
                       $('.btn-group').find('div.btn').removeClass('btn-default').removeClass('btn-danger').removeClass('btn-success').addClass('btn-default');
                    }
                    $.each( data.data, function(i, item){
                        var user_id = item[0];
                        var status = item[1];
                        console.info(status==2);
                        if(status == 1){
                            $('#user_' + user_id+'').removeClass('btn-default').removeClass('btn-danger').addClass('btn-success');
                        }else if(status==0){
                            $('#user_' + user_id+'').removeClass('btn-default').removeClass('btn-success').addClass('btn-danger');
                        }
                    });

                },
                error: function (e) {
                    console.log(e);
                    console.log('update_command_time_path error');
                }
            });
        }


//        var user_id = 12;
//        //        $('#user_12').css('background-color', '#a02fee');
//        $('#user_' + user_id).removeClass('btn-default').removeClass('btn-danger').addClass('btn-success');
//        $('#user_13').removeClass('btn-default').removeClass('btn-success').addClass('btn-danger');
    </script>
<% end %>

<%= content_for :style do %>
    <style>

        /*.container{width: 100%;}*/
        .col-md-4 {
            /*min-height: 200%;*/

            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .align-center {
            margin-top: 10%;
        }

        .btn {
            min-height: 30px;
            min-width: 32px;
        }

        .row {
            /*background-color: #a02fee; !* standard background color *!*/
            min-height: 50px;
            margin: auto;
        }

        .btn-default {
            background-color: black;
            /*!* standard background color *!*/
            /*border: 1px solid #891a21;*/
            /*text-align: center;*/
        }
    </style>
<% end %>
