<div class="center jumbotron" style="padding-left:0">
  <div class="row">
    <div class="ccc clearfix">
    <% @users.each do |user| %>
        <% if cookies[:user_id] %>
            <div class="col-md-1 btn btn-primary disabled col-md-offset-1 text-center data_fen" data-fen="<%= user.id %>"> <%= user.name %>

            </div>
        <% elsif user.state %>
            <div class="col-md-1 btn btn-primary disabled col-md-offset-1 text-center data_fen" data-fen="<%= user.id %>"> <%= user.name %>

            </div>
        <% else %>
            <div class="col-md-1 btn btn-primary col-md-offset-1 text-center data_fen" data-fen="<%= user.id %>"> <%= user.name %>

            </div>

        <% end %>
    <% end %>
  </div>
  <!--<br/>-->
  <!--<br/>-->

  <button type="button" style="margin-top: 5%;" id="myButton" data-loading-text="提交..." class="btn btn-primary btn-lg disabled" autocomplete="off">确认</button>
</div>
</div>
<style>
  .data_fen{
      width: 11%;
  }

  .ccc{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
  }
</style>

<script>
    var f;
    var stat;
    function addheadermsg(header, content) {
        $('#myModalLabel span').text(header);
        $('.modal-body span').text(content);
    }
    $(function () {
        $('body').delegate('.data_fen', 'click', function () {
            var fen = $(this).data('fen');
            if (!$(this).hasClass('disabled')) {
                $(this).addClass('disabled');
                if (fen) {
                    f = fen;
                    disable_button(fen);
                } else {
                    f = '';
                };
            }
            console.info(f);
        });
        var $modal_dialog = $('.modal-dialog');
        var m_top = ( $(window).height() - $modal_dialog.height() ) / 3.5;
        $modal_dialog.css({'margin': m_top + 'px auto'});
        $modal = $('#myModal');
//    if($("#select_type").data('modal')=='0'){
//      $modal.modal({show: true, backdrop: 'static', keyboard: false});
        $modal.modal({show: false, backdrop: 'static', keyboard: false});
//    }

        function disable_button(id) {
            if (id) {
                if ($('#myButton').hasClass('disabled')) {
                    $('#myButton').removeClass('disabled');//去除禁用
                }
            } else {
                if (!$('#myButton').hasClass('disabled')) {
                    $('#myButton').addClass('disabled');//禁用
                }
            }
        }

        $("#myButton").click(function () {
            if ($('#myButton').hasClass('disabled')) {
                alert('请选择后再提交');
            } else {
                console.info(f);
                if (f) {
//                    $modal.modal('show');
//                    addheadermsg('提交分数', f + '分');
                    var data = {user_id: f};//为用户评分记录post数据
                    /*查看用户所选是否已经存在*/
                    $.ajax({
                        type: 'post',
                        url: '<%= get_user_state_score_users_url %>',
                        data: data,
                        success: function (data) {
                            if(data.status){
                                /*路转至对应用户的评分页面*/
                                $('[data-fen='+f+']').addClass('disabled');
                                alert('已经被选择');
                            }else{

                                location.href='/score/users/'+f+'/select_fen';

                            }
                        },
                        error: function (e) {
                            console.log(e);
                            console.log('get_user_state_score_users_path error');
                        }
                    });
                    /*
                     结束轮询方法，
                     成功后刷新页面
                     * 失败后走失败逻辑
                     * */
//                    if ('如果未开始') {
//                        addheadermsg('', '等待开始');
//                    } else if ('评分已经结束') {
//                        addheadermsg('', '评分结束');
//                    }

                } else {
                    alert('请选择后再提交');
                }
            }
            ;
        });
    });


</script>
<% content_for :modal do %>
    <div class="modal fade" id="myModal" style="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #286090;">
          <div class="modal-header" style="border-bottom: 0px">
            <h2 class="modal-title h1 " id="myModalLabel">
              <span class="label" style="font-size: 150%;letter-spacing:8px;"></span></h2>
          </div>
          <div class="modal-body h1 center ">
            <span class="label" style="font-size: 150%;"> </span>
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div>
      </div>
    </div>
<% end %>