<div class="divcss5">
  <img src="<%=asset_path('image_1490703824.935329.jpg')  %>" />
</div>
<div class="row"   style="margin: 0px;margin-left: 14% ;padding-top: 1px ">
  <% @records.each_with_index do |item , index|  %>
      <div class="avatar col-md-2">
        <div class="avatar_desc thumbnail" >
          <img src="<%= item.score_user.avatar_file_name ? item.score_user.avatar.url(:thumb): '/images/126bg.jpg' %>" class="" style="min-width: 130px;height: 150px;"  alt=""/>
          <div class="caption" style="padding:0px">
            <span class="text-center" style="display: block;font-size: 150%;">评委:<%= item.score_user ? item.score_user.name : index+1 %></span>
            <div style="border-bottom: 2px solid #e52233;"></div>
            <span class="text-center text-center_<%= item.id %>" style="display: block;font-size: 150%;"><%= item.number %></span>
          </div>
          <!--<div class="user_name">123123</div>-->
        </div>
      </div>
  <% end %>
  <span class="fen text-center">总分数：<span><%= @records.pluck(:number).sum %></span></span>
</div>
<br/>
<div>
  <form class="form-inline">
    <% @records.each_with_index do |item , index|  %>
        <div class="form-group">
          <input type="text" class="form-control score_user_<%= item.id %>" value="<%= item.number %>" data-id="<%= item.id %>" placeholder="<%= item.score_user ? item.score_user.name : index+1 %>" />
        </div>
    <% end %>
    <div class="save_fen btn btn-default">替换</div>

  </form>
</div>
<script>
    $('.save_fen').on('click',function(){
        var fen;
        var total_fen = 0;
        var i;
        $('.form-control').each(function(){
            fen = ($(this).val());
            i = $(this).data('id');
            if(fen){
                $('.text-center_'+i).text(fen);
                total_fen += Number(fen);
            }else{
                $('.text-center_'+i).text(0);
            }
        });
        $('.fen>span').text(total_fen);


    });
</script>

<style>
    .divcss5{  width:1125px;overflow:hidden;margin:0 auto;position:relative;background:url(<%=asset_path('image_1490703824.935329.jpg')  %>) no-repeat}
    .row{ position:absolute; left:7%; top:47%}
    .divcss5 img{max-width:1125px;_width:expression(this.width > 1125 ? "1125px" : this.width);}
    .avatar{
        height: 260px
    }
    .fen{
        line-height:110%;
        /*background-color: rebeccapurple;*/

        display: block ;
        color:white;
        font-size: 350%;
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .col-md-2{
        width: 23%;
        margin-left:1%;
        margin-right:1%;
        padding: 10px 10px 0px 10px;
        background-color: #006ad6;
        height: 75%;
    }
</style>

